{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.images) }}
<div class="text-center mb-3">
    <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}
