{% extends 'base.html.twig' %}

{% block title %}Modifier l'image{% endblock %}

{% block body %}
    <h1>Modifier l'image</h1>

    <td><img src="{{ asset('uploads/' ~ picture.path) }}" alt="{{ picture.title }}" title="{{ picture.title }}" class="img-thumbnail"/></td>

    {{ include('picture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_picture_index') }}">Retour à la liste</a>

    {{ include('picture/_delete_form.html.twig') }}
{% endblock %}
