{% extends 'base.html.twig' %}

{% block title %}Liste des images{% endblock %}

{% block body %}
    <h1>Liste des images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Aperçu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.title }}</td>
                <td><img src="{{ asset('uploads/' ~ picture.path) }}" alt="{{ picture.title }}" title="{{ picture.title }}" class="img-thumbnail" /></td>
                <td>
                    <a href="{{ path('app_picture_show', {'id': picture.id}) }}">Voir</a>
                    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune image trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_picture_new') }}">Ajouter une nouvelle image</a>
{% endblock %}
