{% extends 'base.html.twig' %}

{% block title %}{{ picture.title }}{% endblock %}

{% block body %}
    <h1>Image {{ picture.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ picture.title }}</td>
            </tr>
            <tr>
                <th>Aperçu</th>
                <td><img src="{{ asset('uploads/' ~ picture.path) }}" alt="{{ picture.title }}" title="{{ picture.title }}" class="img-thumbnail"/></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_picture_index') }}">Retour à la liste des images</a>

    <a href="{{ path('app_picture_edit', {'id': picture.id}) }}">Modifier</a>

    {{ include('picture/_delete_form.html.twig') }}
{% endblock %}
