{% extends 'base.html.twig' %}

{% block title %}Connectez-vous !{% endblock %}

{% block body %}
    <div class="container w-25 mt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se
                        déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter :</h1>
            <label for="inputEmail" class="fw-bold">Email : </label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2"
                   autocomplete="email" required autofocus>
            <label for="inputPassword" class="fw-bold">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <div class="checkbox mb-3 mt-1">
                <label>
                    <input type="checkbox" name="_remember_me"><span class="fw-bold"> Se rappeler de moi</span>
                </label>
            </div>
            <div class="text-center mt-2">
                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}
