{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1>Enregistrez un compte sur notre site</h1>
            <p>
                En créant un compte, vous pourrez renseigner vos préférences, qui apparaîtront par défaut dans les
                formulaires de réservation.
            </p>
            <div class="form-group w-50">
                {{ form_start(form) }}
                    {{ form_row(form.email, { 'label' : 'E-mail' }) }}
                    {{ form_row(form.password, { 'label' : 'Mot de passe' }) }}
                    {{ form_row(form.firstname, { 'label' : 'Prénom' }) }}
                    {{ form_row(form.lastname, { 'label' : 'Nom' }) }}
                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}