<h2>Réserver une table</h2>
{{ form_start(form) }}
    {{ form_row(form.bookingDate, { 'label' : 'Date de la réservation' }) }}
    {{ form_row(form.noonBookingTime, { 'label' : 'Heure de la réservation - Midi' }) }}
    {{ form_row(form.eveningBookingTime, { 'label' : 'Heure de la réservation - Soir' }) }}
    {{ form_row(form.guestNumber, { 'label' : 'Nombre de couverts' }) }}
<input type="submit" />
{{ form_end(form) }}