{% extends 'base.html.twig' %}

{% block title %}Réservation - Service du midi{% endblock %}

{% block body %}
    <div class="container my-5" id="noon-booking">
        <div class="d-flex flex-column align-items-center">
            <h1 class="text-center">
                Réserver une table
                <span class="d-none d-md-inline"> - </span>
                <span class="d-md-none"><br></span>
                Service du midi
            </h1>
            {% if roomAvailable > 0 %}
                <p class="fs-5 text-center">
                    Il est possible de réserver pour encore <strong id="room_available">{{ roomAvailable }}</strong> couverts
                </p>
            {% else %}
                <p class="fs-5 text-center">
                    Il n'y a plus de place pour réserver une table à ce service, choisissez une autre date
                </p>
            {% endif %}
            {% for message in app.flashes('error') %}
                <div class="d-flex flex-column align-items-center mt-2">
                    <div role='alert' class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <div class="row d-flex justify-content-center">
                <div class="col col-sm-8 col-md-6 col-lg-4">
                    {{ form_start(form) }}
                        {{ form_row(form.date,{ 'label' : 'Date de la réservation' }) }}
                        {{ form_row(form.guestNumber, { 'label' : 'Nombre de couverts' }) }}
                        {{ form_row(form.allergies, {'label' : 'Allergies'}) }}
                        <div class="row">
                            <div class="text-center">
                                <label for="noon-button" class="fw-bold">Choisissez l'heure de la réservation</label>
                            </div>
                            <div>
                                <div class="mt-2 text-center" id="booking-button"></div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        {% for message in app.flashes('success') %}
        <div class="d-flex flex-column align-items-center mt-4">
            <div role='alert' class="alert alert-success text-center w-50">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{ asset('scripts/bookingButtons.js') }}"></script>
    <script src="{{ asset('scripts/booking.js') }}"></script>
{% endblock %}