<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Quai Antique{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="assets/css/style.css">
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                {% set index_link = path('app_index') %}
                <a class="navbar-brand" href="{{ index_link }}">Logo</a>
                <button
                        type="button"
                        class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#navCollapse"
                        aria-controls="navCollapse"
                        aria-expanded="false"
                        aria-label="Toggle Navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navCollapse">
                    <ul class="navbar-nav">
                        <li class="navbar-item">
                            <a
                                    href="{{ index_link }}"
                                    class="nav-link active"
                                    aria-current="page"
                            >
                                Accueil
                            </a>
                        </li>
                        <li class="navbar-item">
                            {% set menu_link = path('app_menu') %}
                            <a href="{{ menu_link }}" class="nav-link">Carte</a>
                        </li>
                        {% if app.user == null %}
                            <li class="navbar-item">
                                {% set login_link = path('app_login') %}
                                <a href="{{ login_link }}" class="nav-link">Se connecter</a>
                            </li>
                            <li class="navbar-item">
                                {% set register_link = path('app_register') %}
                                <a href="{{ register_link }}" class="nav-link">S'enregistrer</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li class="navbar-item">
                                {% set preferences_link = path('app_preferences') %}
                                <a href="{{ preferences_link }}" class="nav-link">Préférences</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="navbar-item">
                                {% set admin_link = path('app_dashboard') %}
                                <a href="{{ admin_link }}" class="nav-link">Administration</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
    <footer>
        {% block footer %}{{ render(controller('App\\Controller\\FooterController::footer')) }}{% endblock %}
    </footer>
</html>