{% block footer %}
    <div class="text-center w-50">
        <p>
            Le Quai Antique est ouvert les {{ businessDays }},<br>
            de {{ noonOpening }} à {{ noonClosing }} et de {{ eveningOpening }} à {{ eveningClosing }}.
        </p>
        {% set legal_link = path('app_legal') %}
        <a href="{{ legal_link }}">Mentions légales</a>
    </div>
{% endblock %}